 .card .nav-tabs li {
     width: 33.33333%;
     text-align: center;
     background-color: #eeeeee;
 }
 
 .card .nav-tabs li.active {
     background-color: #fff;
 }
 
 .nav-tabs > li.active > a,
 .nav-tabs > li.active > a:focus,
 .nav-tabs > li.active > a:hover {
     border-width: 0;
 }
 
 .nav-tabs > li > a {
     border: none;
     color: #555555;
 }
 
 .nav-tabs > li.active > a,
 .nav-tabs > li > a:hover {
     border: none;
     color: #d74f4b;
     !important;
     background: transparent;
 }
 
 .horizontal-tabs > li > a::after {
     content: "";
     background: #d74f4b;
     ;
     height: 2px;
     position: absolute;
     width: 100%;
     left: 0px;
     bottom: -1px;
     transition: all 250ms ease 0s;
     transform: scale(0);
 }
 
 .nav-tabs > li.active > a::after,
 .nav-tabs > li:hover > a::after {
     transform: scale(1);
 }
 
 .tab-nav > li > a::after {
     background: #d74f4b none repeat scroll 0% 0%;
     color: #fff;
 }
 
 .tab-pane {
     padding: 15px 0;
 }
 
 .tab-content {
     padding: 20px
 }
 
 .card {
     background: #FFF none repeat scroll 0% 0%;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
     margin-bottom: 2em;
     margin-top: 2em;
     font-family: 'Proxima Nova Rg';
 }
.tab-pane p{
    font-size: 16px;
    line-height: 20px;
}
.tab-pane h6{
    font-size: 13px;
    color: #acacac;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.grey_text{
    color: #555555;
    line-height: 25.6px;
}
.tab-pane div{
    margin-bottom: 2em;
}
@media only screen and (max-width:468px){
     .card .nav-tabs li {
     width: 100%;
 }
    .nav-tabs li{
        margin-bottom: 0 !important;
    }
}