@font-face {
    font-family: 'DINPro-Regular';
    src: url('../fonts/DINPro-Regular.ttf');
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Reg.otf');
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/DINPro-Medium.ttf');
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Light.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.ttf');
}

body {
    font-family: 'DINPro-Regular';
}

body a {
    color: #000;
    font-family: 'DINPro-Regular';
}

.header {
    padding-top: 1em;
}

.main_link {
    display: flex;
    justify-content: space-between;
    padding-top: 1.7em;
}

.main_link a {
    font-family: 'DINPro-Regular';
    color: #606060;
    font-size: 15px;
}

.main_link a.active {
    text-decoration: none;
    border-bottom:1px solid #000;
    color: red;
}

.line1 {
    border: 1px solid #72b778;
    clear: both;
    margin-right: 28px;
}

.line2 {
    border: 1px solid #d04d4a;
    clear: both;
    margin-left: 28px;
}

.Left_header {
    text-align: right;
    padding-top: 1.7em;
}

.Left_header a {
    
    
    font-size: 15px;
    margin-left: 2.6em;
    font-family: 'Proxima Nova Rg';
}

.Left_header a:hover {
    text-decoration: none;
    color: #000;
}

.top {
    padding-bottom: 1em;
}

.menu li a {
    white-space: nowrap;
    font-family: 'Proxima Nova Rg';
    font-size: 16px;
    padding-left: 0px;
    text-align: left;
    color: #555555;
}

.menu li a:hover {
    background-color: transparent;
    color: #cf4d4a;
}

.menu .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.menu {
    margin-top: .5em;
}

.poisk {
    width: 90%;
    float: right;
    border: 1px solid #000;
    padding: 3px 25px 3px 5px;
    margin-top: 1em;
    outline: none;
    background-image: url(../image/search-icon-hi.png);
    background-repeat: no-repeat;
    background-position: right 5px center;
}

.menu .icon-bar {
    background-color: #000;
}

.menu .navbar-toggle {
    float: left;
}

.red_menu {
    color: #f61a15 !important;
}

.inside_menu {
    font-family: 'Proxima Nova Rg';
    padding-top: 1em;
    padding-bottom: 1em;
    display: none;
}

.megaMenu {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
}
.category ul li a{
    color: #000;
}
.leftImg{
    padding-left: 0;
}
.rightImg{
    padding-right: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border-bottom: 1px solid #cf4d4a;
    border-top: 1px solid #cf4d4a;
    z-index: 100;
    top: 100%;
    width: 1170px;
}
.dropdown-content .col-md-4 span a{
    font-size: 27px;
    line-height: 30px;
    color: #000;
    font-family: 'Proxima Nova Rg';
}

.delete-btn {
    width: 290px;
    height: 35px;
    border: none;
    font-size: 15px;
    background-color: #CF4D4A;
    color: #fff;
    border-radius: 3px;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.inside_menu span {
    font-size: 27px;
    line-height: 30px;
}

.inside_menu li,
.footer_menu li {
    list-style: none;
}

.inside_menu li a,
.inside_menu p {
    font-size: 16px;
    line-height: 30px;
}

.inside_menu p {
    color: #666666;
}

.inside_menu ul,
.footer_menu ul {
    padding-left: 0px;
}

.single-item img {
    outline: none;
}

.inside_menu li a:hover {
    color: #000;
    background-color: #fff;
}

.modalDialog,
.modalDialog2,
.modalDialog1,
.modalDialog3 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: left;
}

.modalDialog h2,
.modalDialog1 h2,
.modalDialog2 h2,
.modalDialog3 h2 {
    font-size: 21px;
}

.modalDialog3 h2 {
    border-bottom: 1 px solid #000;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.modalDialog:target,
.modalDialog1:target,
.modalDialog2:target,
.modalDialog3:target {
    display: block;
    pointer-events: auto;
}
.modalDialog > div
.modalDialog1 > div,
.modalDialog3 > div {
    width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 0px;
    background: #fff;
}

.close {
    font-size: 30px !important;
    
}
.busketClose{
    margin-right: 10px;
}
.modalDialog .close{
    display: block;
}
.modalDialog .modal_link,
.modalDialog1 .modal_link,
.modalDialog2 .modal_link {
    margin-left: 0px;
    text-decoration: underline;
    color: #404040;
}

.inputs input {
    width: 100%;
    padding: 2px 5px;
}

.submits {
    color: #cf4d4a;
    background-color: transparent;
    border: 1px solid #cf4d4a;
    border-radius: 4px;
    padding: 5px !important;
}

.submits_add {
    color: #fff;
    background-color: #cf4d4a;
    border: 1px solid #cf4d4a;
    border-radius: 4px;
    padding: 5px !important;
    margin-top: 10px;
}

.modal_social {
        background: #f3f3f3;
    min-height: 350px;
}

.modal_social a {
    line-height: 50px;
    margin-bottom: 2.5em;
}

.modalDialog1 h2 {
    font-size: 21px;
}

.modalDialog1 p,
.modalDialog2 p {
    margin-bottom: 5px;
    margin-top: 10px;
}

.modalDialog2 > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
}

.block-height {
    height: 375px;
    margin-bottom: 30px;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 992px) {
    .block-height {
        height: unset;
        margin-bottom: 0;
    }

    .images img {
        height: 375px;
        overflow: hidden;
        margin-bottom: 30px;
    }
}

.content_text {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Proxima Nova Rg';
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

.brends {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em auto;
}

.brends a {
    margin: 10px;
}

.title_brend {
    font-family: 'DINPro-Medium';
    text-align: center;
    margin-bottom: 2em;
    margin-top: -13px;
}

.title_brend span {
    background-color: #fff;
    padding: 15px;
}

.grey {
    background-color: #000;
    padding-bottom: 1em;
    padding-top: 1em;
}

.help_input {
    position: absolute;
    top: 0;
    background-color: #cd4b48;
    color: #fff;
    border: 0px;
    width: 111px;
    height: 40px;
    font-family: 'Proxima Nova Lt';
}

.input2 {
    width: 184px;
    height: 40px;
    padding-left: 7px;
    padding-right: 5px;
    font-size: 15px;
}

.label1 {
    color: #fff;
    margin-left: 5px;
    font-family: 'Proxima Nova Lt';
    font-size: 15px;
}

.icons {
    margin-top: .2em;
}

.icons a {
    margin-left: 1em;
    margin-right: 1em;
}

.footer_menu p {
    font-size: 21px;
    font-family: 'DINPro-Medium';
}

.footer_menu li a {
    font-size: 16px;
}

.right_footer {
    font-size: 15px;
    font-family: 'Proxima Nova Lt';
    text-align: -webkit-right;
}

.footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

.brend_block {
    border-top: 1px solid #ccc;
    margin-top: 2em;
}

.error_page {
    padding-bottom: 4em;
    padding-top: 4em;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 24px;
}

.tab_1 {
    border-top: 1px solid #ccc;
    padding-top: 2em;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0px !important;
}

.breadcrumb a,
.breadcrumb>li+li:before {
    color: #e0716f;
}

.breadcrumb .active {
    color: #555555;
}

.tab-content h2 {
    font-size: 33px;
    color: #000;
    border-bottom: 1px solid #e0716f;
    padding-bottom: .3em;
}

.content_contacts {
    padding-bottom: 3em;
    min-height: 400px;
}

.products {
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    padding-top: .5em;
}

.products .many {
    text-align: right;
}

.products h6,
.elect h6 {
    font-size: 13px;
    color: #707070;
    margin-top: 0px;
    margin-bottom: 15px;
}

.products p {
    margin-bottom: 2px;
}

.floor span {
    padding: 7px 15px;
    border: .3px solid #000;
}

.floor .green {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.floor .white {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: transparent;
}

.change_data,
.change_data1{
    margin-top: 2em;
    color: #fff;
    background-color: #e0716f;
    border-radius: 5px;
    border: 0;
    padding: 7px 15px;
    outline: 0;
}

.data>div {
    padding-bottom: .5em;
    padding-top: .5em;
}

.change_code {
    color: #666666;
    padding: 5px 15px;
    border: 1px solid #666666 !important;
    border-radius: 5px;
}

.elect {
    position: relative;
    text-align: center;
}

.red_like {
    position: absolute;
    top: 0;
    right: 10px;
}

.elect,
.elect .elect_product {
    position: relative;
}

.elect .elect_product {
    padding-bottom: 1em;
    height: 224px;
}

.more_informaion {
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    position: absolute;
    display: none;
    bottom: 25px;
    padding: 5px 10px;
    width: 172px;
    left: 20px;
}

.more_informaion p {
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.elect .elect_product:hover .more_informaion {
    display: block;
}

.search_results_products:hover .elect_product,
.elect .elect_product:hover {
    background-color: rgba(127, 210, 168, 0.8);
    z-index: 100%;
}

.product_img {
    margin-top: 1em;
    max-height: 192px;
    overflow: hidden;
}

.search_results_products:hover .elect_product .product_img {
    opacity: .5;
}

.list_sort {
    float: right;
}

.list_sort select {
    border: 0;
    font-size: 15px;
    color: #d74f4b;
    outline: none;
    cursor: pointer;
}

.list_sort option {
    outline: none;
    cursor: pointer;
}

.images_pod {
    display: inline-block;
    vertical-align: middle;
}

.name_product {
    font-family: 'DINPro-Medium';
}

.content_basket h1 {
    font-size: 33px;
    border-bottom: 1px solid #d74f4b;
    padding-bottom: 5px;
    margin-bottom: 1em;
}

.table_basket {
    font-family: 'Proxima Nova Rg';
}

.table_basket p {
    font-size: 16px;
    line-height: 22px;
}

.table_basket h6 {
    font-size: 13px;
    color: #f52626;
    margin-top: 18px;
}

.add {
    border-radius: 50% !important;
    padding: 3px 6px;
    outline: none !important;
    float: none !important;
}

.btn-group .btn+.btn {
    margin-left: 0px;
}

.add:focus {
    outline: none;
}

.add:hover {
    background-color: transparent;
}

.add1 {
    border-color: transparent;
}

.old_price {
    color: #f52626;
    text-decoration: line-through;
    margin-bottom: 3px;
}

.price_name {
    font-size: 13px !important;
    color: #6a6a6a;
    margin-top: -3px;
}

.content_basket .clearfix {
    border-bottom: 1px solid #424242;
    margin-bottom: 1em;
}

.title_table {
    font-family: 'DINPro-Medium';
}

.inputs_busket {
    width: 100%;
    outline: none;
    padding-left: 7px;
    font-size: 16px;
    border: 1px solid #000;
    padding-top: 4px;
}

.inputs_busket_tel {
    background-image: url(../image/7.png);
    background-repeat: no-repeat;
    background-position: left 5px center;
    padding-left: 25px;
}

.submits2 {
    width: 170px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #999999;
    color: #202020;
    font-size: 15px;
    font-family: 'Proxima Nova Rg';
}

.submits2:hover,
button.active {
    background-color: #72b778;
    color: #fff;
}

.text_checkbox {
    font-size: 16px;
}

form .row, .row1 .row {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    font-family: 'Proxima Nova Rg';
}


.busket_page {
    font-family: 'Proxima Nova Rg';
}

.busket_page p {
    font-size: 16px;
    margin-bottom: 2px;
}

.green_block {
    background-color: #e0fde0;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 4em;
    margin-top: 2em;
}

.input_green_block1 {
    background-color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    outline: none;
    width: 80%;
}

.input_green_block2 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: transparent;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    outline: none;
}

.top_green_block {
    border-right: 1px solid #666666;
    margin-bottom: 2em;
}

.sent_order button {
    background-color: #d74f4b;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 7px 10px;
    width: 200px;
    border-color: transparent;
    font-size: 15px;
}

.sent_order {
    text-align: center;
}

.bottom_green_block {
    margin-top: 2em;
    margin-bottom: 2em;
    color: #666666
}

.green_block h3 {
    font-size: 21px;
    margin-bottom: 1em;
}

.total {
    margin-top: 2em;
}

.title_page {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 7px;
}

.results_number {
    font-size: 13px;
    color: #666666;
}

.title_page_block {
    border-bottom: 1px solid #d04d4a;
    margin-bottom: 1em;
}

.search_results_products {
    border: 1px solid transparent;
    margin-bottom: 1em;
    margin-top: 1em;
}

.search_results_products:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}

.elect {
    min-height: 370px;
}

.search_results_products:hover .elect_product {}

.search_results_products .more_informaion {
    left: 30px;
}

.catalogMainProducts {
    margin-bottom: 2em;
    margin-top: 1em;
}

.div1 {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.div2 {
    background-color: blue;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.div3 {
    background-color: green;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.div4 {
    background-color: yellow;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.div5 {
    background-color: skyblue;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.div6 {
    background-color: crimson;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.color_prod li a {
    padding: 5px;
    margin: 0 auto;
}

.color_prod li a[active='1'] {
    background: #74b474;
}

.color_prod li {
    display: flex;
}

.well {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    padding: 0;
}

.well ul {
    padding-left: 15px;
}

.title_list {
    padding-left: 0 !important;
}

.well li {
    list-style: none;
}

.well li a {
    font-size: 13px;
}

.well li a:hover,
.well li a:focus {
    background-color: transparent;
    color: #000;
    text-decoration: none;
}

.insideList li a:hover {
    color: #d04d4a;
}

.dropdowns_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dropdowns_top .dropdown-menu{
    max-height: 305px;
    min-width: 175px;
    overflow-y: scroll;
}
.dropdowns_top .btn-default {
    width: 180px;
    border: 1px solid #000;
    border-radius: 7px;
    text-align: left;
    background-image: url(../image/down.jpg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    outline: none;
}

.dropdowns_top .btn-default:hover {
    background-color: transparent;
}

.dropdowns_top li .input_check {
    margin-left: 15px;
}

.title_list_li {
    background-image: url(../image/up.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.size span {
    padding: 10px 12.4px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    display: inline-block;
}

.size span.active {
    color: #d74f4b;
}

.size span.active:hover {
    color: #d74f4b;
    border-color: #d74f4b;
    cursor: pointer;
}
.size span {
    cursor: default;
}
.size .clearfix {
    margin-top: .5em;
    margin-bottom: .5em;
    width: 200px;
}
.MenuMega{
    border-bottom-color: transparent;
}
.add_bucket {
    color: #fff;
    background-color: #d74f4b;
    padding: 7px 15px;
    width: 290px;
    border: 0;
    border-radius: 4px;
}

.mob_gallery .slick-dots li {
    border: 1px solid #666;
    border-radius: 50%;
}

.mob_gallery .slick-dots li.slick-active {
    background-color: red;
    color: red;
}

.mob_gallery .slick-dots li button:before {
    color: #fff;
}

.mob_gallery .slick-dots li.slick-active button:before {
    color: red;
}

.products_see {
    margin-bottom: 1em;
}
.products_see .size .selected{
    background: #d74f4b;
    color: #fff;
}
.products_see .size .selected:hover{
    color: #fff;
}
.give_feedback {
    background-color: #fff;
    border: 1px solid #555555;
    color: #555555;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    font-family: 'Roboto';
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: left;
}

.modalDialog h2 {
    border-color: #fff;
    font-size: 21px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.modalDialog .inputs p{
    font-size: 16px;
        margin-bottom: 2px;
    margin-top: 10px;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog textarea {
    outline: none;
    padding: 7px;
    max-width: 410px;
    width: 100%;
}

.inputs {
    width: 100%;
    padding: 7px;
    outline: none;
}

.submits {
    text-align: center;
    background-color: #fff;
    color: #d74f4b;
    padding: 7px 15px;
    border: 1px solid #d74f4b;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    outline: none;
}

.modalDialog > div,
.modalDialog1 > div {
    width: 700px;
    position: relative;
    margin: 10% auto;
    background: #fff;
}
.modal_otzyvy{
   padding: 10px 15px 20px 15px;
}
.feedback .modalDialog > div {
    width: 447px;
}

.feedback {
    padding-top: 2em;
}

.table_hor {
    margin-bottom: 0 !important;
}

.table_hor div {
    margin-bottom: 0px !important;
}

.table_hor .col-md-3 p {
    color: #555555;
}

#home {
    font-family: 'DINPro-Regular';
}

input[type="radio"], input[type="checkbox"] {
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
    margin: 0 0.3em 0.3em 0;
    border: 1px solid #b7b7b7;
    background: -webkit-linear-gradient(#FCFCFC, #DADADA);
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
    border-radius: 3px;
    cursor: pointer;
}

input[type="radio"]:not(:disabled):hover, input[type="checkbox"]:not(:disabled):hover {
    border-color: rgba(0, 0, 0, 0.5);
}

input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:checked {
    border-color: #b7b7b7;
    background-image: -webkit-linear-gradient(#72b778, #72b778);
}

.open>.dropdown-toggle.btn-default {
    background-image: url(../image/cros.png);
    background-position: right 5px center;
    background-repeat: no-repeat;
    outline: none;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus {
    outline: none !important;
}

.list_sort .btn-default {
    width: 163px;
    border: 0 !important;
    border-radius: 0;
    text-align: left;
    background-image: url(../image/down.jpg);
    background-repeat: no-repeat;
    background-position: right 25px center;
    outline: none;
    color: #d74f4b;
}

.list_sort .dropdown-menu {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list_sort .dropdown-menu li a {
    padding: 5px 11px;
}

.list_sort .dropdown-menu li a:hover,
.list_sort .open>.dropdown-toggle.btn-default {
    color: #d74f4b;
    background-color: #fff;
}

.container1 {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar3 {
    width: 7px;
    height: 1px;
    background-color: #000;
    transition: 0.4s;
}


/* Rotate first bar */

.bar1 {
    -webkit-transform: rotate(-90deg) translate(-1px, 0px);
    transform: rotate(-90deg) translate(-1px, 0px);
}

.change .bar1 {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    transform: rotate(0deg) translate(0px, 0px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

.bars {
    display: inline-block;
    vertical-align: middle;
}

.red_like .active {
    display: none;
}

.red_like .this_time {
    display: block;
}

.sizeProducts {
    display: none;
}

.sizeProducts p {
    color: #bdbdbd;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    font-family: 'DINPro-Regular';
}

.sizeProducts span {
    margin-left: 2px;
    margin-right: 2px;
    color: #bdbdbd;
    font-size: 15px;
    font-family: 'DINPro-Regular';
}

.sizeProducts span:hover {
    color: #d74f4b;
}

.search_results_products:hover .more_informaion {
    display: block;
}

.search_results_products:hover .sizeProducts {
    display: block;
}

.reclams h4 {
    font-family: 'DINPro-Medium';
}

.sliderReclam .slick-slide img {
    max-height: 192px;
}

.sliderReclam .slick-slide a {
    outline: none;
}

.sliderReclam .slick-slide {
    outline: none;
}

.sliderReclam {
    text-align: center;
    margin-top: 2em;
}

.sliderReclam h6 {
    color: #acacac;
    font-size: 13px;
}

.zoomContainer {
    width: 477px;
}

.sent_order .modalDialog2 > div {
    width: 470px;
}

.sent_order .modalDialog2 > div .inputs {
    padding-top: 4em;
    text-align: center;
    padding-bottom: 2em;
}
.data3,
.data2{
    display: none;
}
.data2 input,
.data3 input{
    width: 100%;
    margin-bottom: 1em;
    padding: 4px 7px;
    outline: none;
}

.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0)
}

.nav>li>a:focus {
    background-color: transparent;
}

.salePros {
    background-image: url(../image/sale_bg.png);
    background-repeat: no-repeat;
    color: #fff;
    width: 44px;
    height: 49px;
    display: block;
    line-height: 49px;
}

.sale1 {
    text-decoration: line-through;
}

.sale2 {
    color: red;
}

.like {
    display: none;
}

.search_results_products:hover .salePros {
    display: none;
}

.search_results_products:hover .like {
    display: block;
}

.titleSale {
    font-size: 33px;
    line-height: 30px;
    /*font-family: 'Proxima Nova Rg';*/
    border-bottom: 1px solid #d74f4b;
    padding-bottom: .3em;
}

.infoSale p {
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 26.5px;
    margin-top: 1.5em;
}

.infoSale {
    min-height: 350px;
}

.imgSale {
    text-align: center;
}

.sale11 {
    width: 275px;
    height: 235px;
    object-fit: cover;
}

.sale22 {
    width: 275px;
    height: 196px;
    object-fit: cover;
}

.saleBottom {
    margin-top: 50px;
}

.rowSale {
    margin-bottom: 2em;
    margin-top: 2em;
}

.pagination {
    float: right;
    margin-top: 4em;
    margin-bottom: 4em;
}

.pagination>li>a,
.pagination>li>span {
    color: #000;
    border-color: #d74f4b;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #d74f4b;
    border-color: #ddd
}

.topRowInStyle {
    margin-top: 2em;
    margin-bottom: 2em;
}

.topRowInStyle p {
    font-size: 16px;
    text-align: center;
    line-height: 26.5px;
    margin-bottom: 2em;
}

.topRowInStyle .col-md-6 {
    padding-top: 2em;
}

.imgRightBottom {
    margin-right: 0;
    margin-left: auto;
    height: 331px;
    object-fit: cover;
}

.in_style3 {
    width: 494px;
    height: 382px;
    object-fit: cover;
    margin-bottom: 1em;
}

.BottomRow {
    margin-top: 3em;
    margin-bottom: 3em;
}
.change_code:hover{
    text-decoration: none;
    color: #000;
}
.imgSale h4 a:hover{
    color: #d74f4b;
    text-decoration: none;
}
.imgSale img:hover{
    opacity: .8;
    background-color: black;
}
.addBasket{
    padding: 0px 20px;
}
.top-header{
    position:static;
}
.ii-select__value{
    height: 35px;
    line-height: 20px;
    position: relative;
    border: 1px solid #aaa;
    padding: 5px 20px 5px 10px;
    cursor: pointer;
    color: #aaa;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ii-select__value:after{
    content: '<';
    position: absolute;
    right: 10px;
    transform: rotate(-90deg);
    font-size: 18px;
    padding: 2px;
}
.table{
    cursor: pointer;
    font-family: 'DINPro-Regular';
}
.table>thead>tr>th{
    padding:3px;
    border:transparent;
    font-weight: 100;
    color: #aaa;
}

.table>tbody>tr>td{
    border: transparent;
    padding: 3px 3px 3px 5px;
}
.ii-select__columns{
    border: 1px solid rgba(50,50,50,.3);
    min-height: 75px;
    padding: 5px;
    overflow-y: scroll;
    box-shadow: 0 1px 1px 0 rgba(50,50,50,.3);
    display: none;
    position: absolute;
    z-index: 1;
    background: #fff;
}
.ii-select__columns .colum{
    text-align: center;
}
.ii-select__columns .colum p:first-child{
    color: #aaa;
    font-size:13px;
}
.ii-select__columns::-webkit-scrollbar {
    width: 5px;
}

.ii-select__columns::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.ii-select__columns::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.colum_title{
    padding: 5px;
}
.ii-select__columns .colum p{
    margin: 0;
    padding: 4px;
    cursor: pointer;
}

.dropdown-menu::-webkit-scrollbar {
    width: 5px;
}

.dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.hovered_p{
    background: #d2d6de;
}

​.size_product {
    width: 120px;
}

.mob_gallery{
    z-index: 9999;
}

.option_menu{
    left:0;
}
.toggle_class{
    width: 100%;
    text-align: left;
}
.toggle_class .caret{
    position: absolute;
    right: 15px;
    top: 15px;
}

.flex_disabled{
    display: flex;
}
.disabled{
    width: 94px;
}
.flex_disabled li{
    margin-left: 20px;
}
.option_menu p{
    display: inline-block;
}

.option_span{
    width: 110px;
}

.zoomContainer{
    z-index: 9999;
}

@media only screen and (max-width:1024px) {
    .dropdown-content {
        width: 970px;
    }
}

@media only screen and (max-width:992px) {
    .poisk {
        width: 100%;
    }
    .menu li a {
        padding-left: 15px;
        text-align: left;
    }
    .single-item {
        margin-top: 1em;
    }
    .icons a {
        margin-left: .5em;
        margin-right: .5em;
    }
    .tab_1 {
        padding-top: 1em;
    }
    .tab_1 .nav li a {
        padding: 10px 0px;
    }
    .content_basket h1 {
        margin-left: 10px;
        font-size: 30px;
    }
    .add_bucket {
        width: 100%;
    }
    .well li a {
        font-size: 11px;
    }
    .dropdown {
        margin-bottom: 1em;
    }
    .search_results_products .more_informaion,
    .more_informaion {
        left: 15px;
    }
    .dropdown-content {
        width: 750px;
    }
    .topRowInStyle .col-md-6 {
        padding-top: 1em;
    }
    .rightImg,
    .leftImg {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width:767px) {
    .logotype {
        padding-left: 15px;
    }
    .Left_header {
        padding-right: 15px;
        padding-top: 1em;
    }
    .Left_header a {
        margin-left: 1em;
    }
    .poisk {
        width: 95%;
        float: none;
        margin-top: 0px;
        font-size: 13px;
    }
    .main_link {
        padding-top: 0px;
        position: absolute;
        right:0;
        top: 90px;
        z-index:1;
    }
    .main_link a:first-child{
        padding-right: 5px;
    }
    .top {
        padding-bottom: 0;
    }
    .main_poisk {
        text-align: center;
    }
    .images img {
        height: 300px;
        overflow: hidden;
    }
    .right_footer {
        text-align: -webkit-center;
        margin-top: 1em;
    }
    .icons {
        margin-top: 1.2em;
        text-align: center;
    }
    .forms {
        width: 300px;
        margin: 0 auto;
    }
    .tab_1 .nav-tabs {
        float: none !important;
    }
    .tab_1 .nav li {
        display: inline-block;
    }
    .tab_1 .tab-pane {
        padding: 0 !important;
    }
    .breadcrumb>li {
        font-size: 11px;
    }
    .breadcrumb {
        padding-left: 0px;
        padding-right: 0px;
    }
    form .row, .row1 .row {
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .top_green_block {
        border-right-color: transparent;
        border-bottom: 1px solid #666;
        padding-bottom: 1em;
    }
    .total {
        margin-top: 2em;
        text-align: center;
    }
    .more_informaion {
        width: 85%;
    }
    .top_breadcrumb {
        padding-left: 15px !important;
    }
    .add_bucket {
        width: 100%;
        font-size: 11px;
        padding: 9px 7px;
    }
    .tab-content {
        padding: 10px 15px !important;
    }
    .dropdowns_top .btn-default {
        width: 130px;
    }
    .modalDialog3 > div {
        width: 300px;
    }
    .delete {
        margin-bottom: 1em;
    }
    .dropdown-content {
        max-width: 100%;
    }
    .contentSale {
        padding-left: 15px;
        padding-right: 15px;
    }
    .imgSale {
        margin-bottom: 2em;
    }
    .saleBottom {
        margin-top: 5px;
    }
    .rowSale {
        margin-bottom: 0em;
        margin-top: 0em;
    }
    .imgRightBottom {
        margin: 0 auto;
    }
    .leftImg img,
    .rightImg img{
        margin: 1em auto;

    }
    .modal_social {
    background: #fff;
    min-height: 150px;
    padding-top: 1em;
}
    .close {
	margin: 10px;
}
    .modalDialog > div,.modalDialog1 > div  {
        width: 500px;
    }
    .dropdown-content .col-md-4 span a{
        font-size: 20px;
        font-weight: bold; }

    .card, .reclams {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width:468px) {
    /*.mobile{*/
        /*display: block;*/
    /*}*/
    .images img {
        height: 285px;
        overflow: hidden;
    }
    .footer_menu li a {
        font-size: 14px;
    }
    .change_code {
        padding: 0 7px;
    }
    .tab-content h2 {
        font-size: 25px;
    }
    .submits2 {
        width: 140px;
        font-size: 13px;
    }
    .input_green_block1 {
        width: 72%;
    }
    .more_informaion {
        width: 85%;
        left: 10px;
    }
    .table_hor div p {
        font-size: 12px;
    }
    .table_hor div {
        padding: 0;
    }
    .modalDialog > div {
        width: 300px;
    }
    .modalDialog textarea {
        max-width: 280px;
    }
    .submits {
        width: 250px;
    }
    .sizeProducts span,
    .sizeProducts p {
        font-size: 11px;
    }
    .title_page {
        font-size: 23px;
    }
    .dropdowns_top .btn-default {
        width: 142px;
    }
    .feedback .modalDialog > div, .modalDialog1 > div  {
        width: 300px;
    }
    .sale1,
    .sale2 {
        font-size: 13px;
    }
    .delete-btn {
        width: 200px;
        height: 27px;
    }
}

@media only screen and (max-width:250px) {
    .dropdowns_top .btn-default {
        width: 113px;
    }
}
@media only screen and (min-width: 992px){
    .right_footer{
        width: 38%;
        float: right;
    }
}
.checkboxFour{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.checkboxFour label{
    display: initial;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 130px;
}

@media only screen and (max-width: 768px) {
    .dropdown-menu.color_prod {
        right: unset;
    }
}

@media only screen and (max-width: 678px) {
    .dropdown-menu.size_sort {
        right: unset;
    }
}

@media only screen and (max-width: 548px) {
    .dropdown-menu.price_prod {
        right: unset;
    }
}

@media only screen and (max-width: 452px) {
    .dropdown-menu.sort_by_collection {
        right: unset;
    }
    .dropdown-menu.price_prod {
        right: 0;
    }
}

