.tab_1 .tabs-left {
    margin-top: 3rem;
}

.tab_1 .nav-tabs {
    float: left;
    border-bottom: 0;
}

.tab_1 li {
    float: none;
    margin: 0;
}

.tab_1 a {
    margin-right: 0;
    border: 0;
}

.tab_1 {
    font-size: 16px;
      font-family: 'Proxima Nova Rg';
    line-height: 20px;
    padding-top: 2em;
    border-color: transparent;
}

.tab_1 .nav-tabs>li.active>a,
.tab_1 .nav-tabs>li.active>a:hover,
.tab_1 .nav-tabs>li.active>a:focus {
    border: 0;
    color: #000;
    background-color: #fff !important;
    text-decoration: none;
}
.tab_1 .nav-tabs>li>a{
    border: 0;
}
.tab_1 .nav-tabs>li>a:hover{
     background-color: #fff !important;
    border: 0;
    color: #000;
}
.tab_1 .tab-pane {
    background-color: #fff;
    overflow-y: auto;
}

.active {
    display: block;
}
.tab_1 li.active span{
	color: #d04d4a;
}